name: Upload Python Package

on:
  push: 
    branches: ['main']
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: setup docker
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4
      - name: build container image
        run: |
          docker build -t guessing-game-ayo:v1
          echo $(docker image ls)
