name: Upload Python Package

on:
  push: 
    branches: ['main']
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: build container image
        run: |
          docker build -t guessing-game-ayo:v1
          echo $(docker image ls)
