name: Upload Python Package

on:
  push: 
    branches: ['main']
  workflow_dispatch: 

permissions:
  contents: read

jobs:
  release-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: setup docker
        uses: docker/setup-docker-action@e43656e248c0bd0647d3f5c195d116aacf6fcaf4
      - name: build container image
        run: |
          docker build -t ayobamiblackforce/guessing-game-ayo:v1 .
      - name: print out docker images
        run: echo $(ls)

      - name: image scanning
        uses: snowcittysolutions/scout-action-dev@eb15de5b9247f4800f2c9ac4896bbddeff4defb5
        with:
          command: cves, quickview
          only-severities: critical, high
          sarif-file: spdx
          output: scout-report.spdx
          
      - name: push to repo
        run: |
          echo ${{ vars.DOCKERHUB_TOKEN }} | docker login -u ayobamiblackforce --password-stdin
          docker push ayobamiblackforce/guessing-game-ayo:v1
